<div class="copy-width">
  <h2>About TechGuru</h2>
  <p><%= Faker::Lorem.paragraph(2) %></p>
  <h3>It’s different for a reason</h3>
  <p><%= Faker::Lorem.paragraph(4) %></p>
  <h3>Written for you, our peers</h3>
  <p><%= Faker::Lorem.paragraph(6) %></p>
  <h3>Written for you, our peers</h3>
  <p><%= Faker::Lorem.paragraph(5) %></p>
  <p><%= Faker::Lorem.paragraph(3) %></p>
</div>