<div class="copy-width">
  <h2>Singapore Startup Ecosystem</h2>
  <p>Although <span class="underline">Singapore</span> is a small “country”, but you will stuck if you are not in the startup community yet. <%= link_to "You might need", root_path %> You might need to spend tons of time just trying to find what is going on</p>
  <h3>They consisted of questions like:</h3>
  <ul class="normal">
    <%- (0..5).each do -%>
    <li><%= Faker::Lorem.sentence %></li>
    <%- end -%>
  </ul>
  <p><%= Faker::Lorem.paragraph(7) %></p>
  <ul class="checklist">
    <li>A brand and UI system</li>
    <li>Collections</li>
    <li>Article with image (and editor)</li>
    <li>Text only article (and editor)</li>
    <li>Image and Caption (and editor)</li>
  </ul>
  <p><%= Faker::Lorem.paragraph(10) %></p>
  <dl>
    <dt>6 Month Commitment</dt>
    <dd><%= Faker::Lorem.sentence %></dd>

    <dt>SWAT Team</dt>
    <dd><%= Faker::Lorem.sentence %></dd>

    <dt>Working Remotely</dt>
    <dd>A<%= Faker::Lorem.sentence %></dd>

    <dt>Deep integration</dt>
    <dd><%= Faker::Lorem.sentence %></dd>

    <dt>Absolute Focus</dt>
    <dd><%= Faker::Lorem.sentence %></dd>
  </dl>
</div>
<blockquote>
   “That <span class="underline">summer</span> of 2002 were the darkest days of the dot-com bust.” 
</blockquote>
<div class="copy-width">
  <ol>
    <li>“Don’t just tell me what the news is, let me experiment and take action.”</li>
    <li>“This is a place that I can belong.”</li>
    <li>“Don’t just give me a single, institutional, hedged point of view.”</li>
  </ol>
</div>