<section class="what-we-learned">
  <div class="site-width">
    <div class="copy-width">
      <h3>What We Learned</h3>

      <blockquote>Sometimes even good ideas need to be <span class="underline">killed.</span></blockquote>

      <div class="employee">
        <img src="http://www.teehanlax.com/resources/img/staff/geoff-teehan.png" alt="">
        <span><strong>John Dow</strong>, Partner</span>
      </div>

      <p><%= Faker::Lorem.paragraph(2) %></p>
      <p><%= Faker::Lorem.paragraph(4) %></p>

      <blockquote>Working on a product at a <span class="underline">distance</span> is hard</blockquote>

      <div class="employee">
        <img src="http://www.teehanlax.com/resources/img/staff/chris-erwin.png" alt="">
        <span><strong>John Dow</strong>, Developer</span>
      </div>

      <p><%= Faker::Lorem.paragraph(6) %></p>

      <p><%= Faker::Lorem.paragraph(2) %></p>

      <blockquote><span class="underline">Using</span> the product</blockquote>

      <div class="employee">
        <img src="http://www.teehanlax.com/resources/img/staff/geoff-teehan.png" alt="">
        <span><strong>John Dow</strong>, Partner</span>
      </div>

      <p><%= Faker::Lorem.paragraph(5) %></p>

      <blockquote>Moving fast means you’re probably never satisfied</blockquote>

      <div class="employee">
        <img src="http://www.teehanlax.com/resources/img/staff/matt-hodgins.png" alt="">
        <span><strong>John Dow</strong>, Designer</span>
      </div>

      <p><%= Faker::Lorem.paragraph(5) %></p>

      <div class="sharing-tools" style="display:none;">						

        <div class="network">
          <iframe allowtransparency="true" frameborder="0" scrolling="no" src="http://platform.twitter.com/widgets/tweet_button.1368146021.html#_=1368614314567&amp;count=horizontal&amp;id=twitter-widget-0&amp;lang=en&amp;original_referer=http%3A%2F%2Fwww.teehanlax.com%2Fstory%2Fmedium%2F&amp;size=m&amp;text=A%20Place%20for%20Sharing%20Ideas%20and%20Stories%20-%20The%20making%20of%20Medium.com&amp;url=http%3A%2F%2Fwww.teehanlax.com%2Fstory%2Fmedium%2F&amp;via=teehanlax" class="twitter-share-button twitter-count-horizontal" style="width: 106px; height: 20px;" title="Twitter Tweet Button" data-twttr-rendered="true"></iframe>
        </div>

        <div class="network">
          <div class="fb-like fb_edge_widget_with_comment fb_iframe_widget" data-href="http://www.teehanlax.com/story/medium/" data-send="false" data-layout="button_count" data-width="110" data-show-faces="false" data-font="arial" fb-xfbml-state="rendered"><span style="height: 20px; width: 81px;"><iframe id="f98e25608" name="f240c368cc" scrolling="no" style="border: none; overflow: hidden; height: 20px; width: 81px;" title="Like this content on Facebook." class="fb_ltr" src="http://www.facebook.com/plugins/like.php?api_key=478672838853994&amp;locale=en_US&amp;sdk=joey&amp;channel_url=http%3A%2F%2Fstatic.ak.facebook.com%2Fconnect%2Fxd_arbiter.php%3Fversion%3D24%23cb%3Dfc21be63%26origin%3Dhttp%253A%252F%252Fwww.teehanlax.com%252Ff2ac206484%26domain%3Dwww.teehanlax.com%26relation%3Dparent.parent&amp;href=http%3A%2F%2Fwww.teehanlax.com%2Fstory%2Fmedium%2F&amp;node_type=link&amp;width=110&amp;font=arial&amp;layout=button_count&amp;colorscheme=light&amp;show_faces=false&amp;send=false&amp;extended_social_context=false"></iframe></span></div>
        </div>

        <span class="cta">Want to work with us? <a href="http://www.teehanlax.com/contact">Get in touch</a></span>
      </div>
    </div>
  </div>
</section>