<section class="what-we-learned">
  <div class="site-width">
    <div class="copy-width">
      <span class="icon tglogo" data-icon="T"></span>
      <h3>What We Learned</h3>

      <blockquote>Sometimes even good ideas need to be <span class="underline">killed.</span></blockquote>

      <div class="employee">
        <img src="http://www.teehanlax.com/resources/img/staff/geoff-teehan.png" alt="">
        <span><strong>John Dow</strong>, Partner</span>
      </div>

      <p><%= Faker::Lorem.paragraph(2) %></p>
      <p><%= Faker::Lorem.paragraph(4) %></p>

      <blockquote>Working on a product at a <span class="underline">distance</span> is hard</blockquote>

      <div class="employee">
        <img src="http://www.teehanlax.com/resources/img/staff/chris-erwin.png" alt="">
        <span><strong>John Dow</strong>, Developer</span>
      </div>

      <p><%= Faker::Lorem.paragraph(6) %></p>

      <p><%= Faker::Lorem.paragraph(2) %></p>

      <blockquote><span class="underline">Using</span> the product</blockquote>

      <div class="employee">
        <img src="http://www.teehanlax.com/resources/img/staff/geoff-teehan.png" alt="">
        <span><strong>John Dow</strong>, Partner</span>
      </div>

      <p><%= Faker::Lorem.paragraph(5) %></p>

      <blockquote>Moving fast means you’re probably never satisfied</blockquote>

      <div class="employee">
        <img src="http://www.teehanlax.com/resources/img/staff/matt-hodgins.png" alt="">
        <span><strong>John Dow</strong>, Designer</span>
      </div>

      <p><%= Faker::Lorem.paragraph(5) %></p>

      <div class="sharing-tools" style="display:none;">						
        <span class="cta">Want to work with us? <a href="http://www.teehanlax.com/contact">Get in touch</a></span>
      </div>
    </div>
  </div>
</section>